.bannertext {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}


.selector {
  background-color: white !important;
  color: black !important;
  padding: 17px 20px 18px;
  border: 0.5px solid gainsboro;
}
.small-selector {
  width: 100%;
  background-color: white !important;
  color: black !important;
  padding: 17px 20px 18px;
  border: 0.5px solid gainsboro;

}


@media only screen and (max-width: 768px) {
  
  .selector {
    padding: 17px 0px 18px;
  }
  .date-div {
    width: 22% !important ;
  }
 
}
