.bannertext {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/* top , right&left , bottom */

select {
  background-color: white !important;
  color: black !important;
  padding: 17px 20px 18px; 
  border: .5px solid gainsboro;
}


input[type="date"] {
  background-color: white !important;
  color: black !important;
}
